body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url("file:///C:/Users/lap8/Downloads/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    min-height: 100vh;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
   border: 5px solid #b3b3b3;
   border-radius: 10px;
   transition: 0.5s ease;
}
.login:hover{
    box-shadow: 3px 3px 50px #4c00ff;
}
.avatar{
    width: 100%;
    height: 150px;
    text-align: center;
}
div{
    color: red;
}

a{
    color: rgb(255, 255, 255);
}
